@import 'normalize';
@import '~typi/scss/typi';

@import '~modularscale-sass/stylesheets/modularscale';
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Raleway:300,400,700');

// base typographic modular base scale
$modularscale: (
  base: 1em,
  ratio: 1.333
);

$breakpoints: ( 
  s: 320px,
  m: 600px,
  l: 1200px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $value: map-get($breakpoints, $breakpoint);
       
      @media screen and (min-width: $value) {
          @content;
      }
  }
   
  @warn "Unknown `#{$breakpoint}` in $breakpoints";
}

// modular scale at different breakpoints
$typi-ms: (
  null: 1.25,
  s: 1.2,
  m: 1.25,
  l: 1.333
);

$typi: (
  base: (
    null: (16px, 1.5),
    s: (15px),
    m: (16px),
    l: (18px)
  ),
  h1: (
    null: (5, 1.25),
    s: (5, 1.25),
    m: (5, 1.25),
    l: (5, 1.25)
  ),
  h2: (
    null: (4, 1.25),
    s: (4, 1.25),
    m: (4, 1.25),
    l: (4, 1.25)
  ),
  h3: (
    null: (3, 1.25),
    s: (3, 1.25),
    m: (3, 1.25),
    l: (3, 1.25)
  ),
  h4: (
    null: (2, 1.25),
    s: (2, 1.25),
    m: (2, 1.25),
    l: (2, 1.25)
  ),
  h5: (
    null: (1, 1.25),
    s: (1, 1.25),
    m: (1, 1.25),
    l: (1, 1.25)
  ),
  h6: (
    null: 0,
    s: 0,
    m: 0,
    l: 0
  )
);

$typography-weight-l: (
  h1: 400,
  h2: 400,
  h3: 700,
  h4: 700,
  h5: 700,
  h6: 700
);

@include typi-init;

$display-font-stack: 'Raleway', Arial, sans-serif;
$body-font-stack: 'Open Sans', Arial, sans-serif;

$text-color: #333333;
$bg-color: #f9f9f9;

$min-readable-character-width: 18.75em; // = 300px @ 16px base font
$max-readable-character-width: 37.5em; // = 600px @ 16px base font
$column-minimum-margins: 2em;


html {
  color: $text-color;
  background-color: $bg-color;
  font-family: $body-font-stack;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

//font-render for legibility
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: $column-minimum-margins;
  width: 100%;
  max-width: $max-readable-character-width;
  //min-width: $min-readable-character-width;/**/

  @include respond-to(s){
    margin-left: 0;
  }
  @include respond-to(m) {
    margin-left: 4em;
  }
  @include respond-to(l) {
    margin-left: 15em;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $display-font-stack;
}




// typi automatically creates classes based on font maps
//@include typi-create-classes;

@for $i from 1 through 6 {
  h#{$i} {
    @include typi('h#{$i}');
    font-weight: map-get($typography-weight-l , h#{$i} );
  }
}

h1{
  @include respond-to(l) {
    margin-left: -2em;
    font-weight: 300;
  }

}

h3{
  opacity: 0.85;
}

.sixteenpx {
  font-size: 16px;
}